<body class="text-center">
  <main class="form-signin">
    <form>
      <img
        class="mb-4"
        src="https://banner2.cleanpng.com/20180418/gre/kisspng-human-resources-login-management-information-payro-track-5ad7cda3586cb1.5605091515240923233622.jpg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
      <label for="inputEmail" class="visually-hidden">Email Adresi</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="visually-hidden">Şifre</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Giriş Yap
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
</body>

